---
layout: layout
isSingle: true
---

<ul>

	{% for post in site.posts %}

        {% if post.layout != "single" %}

		<article class="post">

			<header>

				<h2 class="title"><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

				<ul class="details">

                    <li><time datetime="{{ post.date | date: '%Y-%m-%d' }}" class="date">{{ post.date | date: "%d %B %Y" }}</time></li>

                    <li>by <a href="http://twitter.com/{{ post.twitter }}" title="Click to hear more from {{ post.author }}" class="author" rel="author">{{ post.author }}</a></li>

                </ul>

			</header>

			<section class="words">

				{{ post.content }}

			</section>

		</article>

        {% endif %}

	{% endfor %}

</ul>
