.post {
	margin: 0 0 50px 0;

	.title {
		color: $brand;
		font-weight: 300;
		@include font-size(2);
		padding: 0;
	}

	.details {
		margin: 10px 0 0 0;

	}

	.words {
		width: 75%;
		font-family: "minion-pro";
		margin: 30px auto 0 auto;
		text-align: left;
		color: lighten($copy, 10%);
		@include font-size(1.2);

		a {
			padding: 0;
			color: lighten($brand, 15%);
			border-bottom: 1px solid lighten($brand, 15%);
			&:hover {
				color: $brand;
				border-bottom: 1px solid $brand;
			}
		}

		p {
			margin: 0 0 20px 0;
		}

		img {
			max-width: 100%;
		}

		h2, h3, h4, h5, h6 {
			font-family: "freight-sans-pro";
			color: $brand;
			font-weight: 300;
			padding: 15px 0;
		}

		h2 { @include font-size(1.5); }

		h3 { @include font-size(1.25); }

		h4 { @include font-size(1); }

	}

}
