.post {
	margin: 0 0 60px 0;

	.title {
		color: $brand;
		font-weight: 300;
		@include font-size(2);
		padding: 0;
	}

	.details {
		margin: 10px 0 0 0;

	}

	.words {
		margin: 30px auto 0;
		max-width: $content-width;
		*width: $content-width;
		font-family: "minion-pro";
		text-align: left;
		color: lighten($copy, 10%);
		@include font-size(1.2);

		a {
			padding: 0;
			color: lighten($copy, 10%);
			text-decoration: underline;
			&:hover {
				color: $brand;
			}
		}

		ul {
			margin: 20px 0;

			li:before {
				content: "— ";
				color: $brand;
			}

		}

		p {
			margin: 0 0 20px 0;
		}

		img {
			max-width: 100%;
		}

		h2, h3, h4, h5, h6 {
			font-family: "freight-sans-pro";
			color: $brand;
			font-weight: 300;
			padding: 25px 0;
		}

		h2 { @include font-size(1.5); }

		h3 { @include font-size(1.25); }

		h4 { @include font-size(1); }

	}

	.author {

		color: $brand;

		&:hover {
			text-decoration: underline;
		}

	}

}
