/* # DOUBLE RAINBOW!!!
================================================== */

$black: rgba(0,0,0,1.0);
$white: rgba(255,255,255,1.0);
$link-color: rgba(63,63,63,1.0);
$link-hover: rgba(65,27,117,1.0);
$brand: rgba(65,27,117,1.0);
// $brand: rgba(20,20,20,1.0);
$copy: rgba(67,67,67,1.0);

// Meter colors

$meter-a: $brand;
$meter-b: rgba(27,77,132,1.0);
$meter-c: rgba(218,123,85,1.0);
$meter-d: rgba(113,193,74,1.0);
$meter-e: rgba(187,35,158,1.0);
$meter-f: rgba(230,214,79,1.0);