<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | Flask{% else %}Flask{% endif %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
    <script type="text/javascript" src="//use.typekit.net/vts7ppd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

    <span class="gradient"></span>

    <header class="global-header" role="banner">

        <div class="wrap">

        <h1><a href="{{ site.url }}">Flask</a></h1>

            <nav class="global-nav">

                <ul>

                    {% assign current = 'false' %}

                    {% for post in site.posts %}

                        {% if post.layout == "single" and page.title == post.title %}

                            {% assign current = 'true' %}

                        {% endif %}

                    {% endfor %}

                    <li><a class="{% if current == 'false' %}currentpage{% endif %}" href="{{ site.url }}{{ site.baseUrl }}" title="Follow the team's journey from start to finish">Blog</a></li>

                    {% for post in site.posts %}

                        {% if post.layout == "single" %}

                            <li><a href="{{ site.url }}{{ site.baseUrl }}{{ post.url }}" title="{{ post.description }}" class="{% if page.title == post.title %}currentpage{% endif %}">{{ post.title }}</a></li>

                        {% endif %}

                    {% endfor %}

                </ul>

            </nav>

            <div class="deco"></div>

        </div>

    </header>

    <section class="main wrap" role="main">

        {{ content }}

    </section>

    <footer class="global-footer" role="contentinfo">

        <div class="wrap">

        </div>

    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}js/app.js"></script>
</body>
</html>
