---
layout: layout
---

<article class="post">

	<header>

		<h1 class="title">{{ page.title }}</h1>

        <ul class="details">

            <li><time datetime="{{ page.date | date: '%Y-%m-%d' }}" class="date">{{ page.date | date: "%d %B %Y" }}</time></li>

            <li>by {% for author in page.authors %}<a href="http://twitter.com/{{ page.twitter[forloop.index0] }}" title="Click to hear more from {{ author }}" class="author" rel="author">{{ author }}</a>{% case forloop.length %}{% when 1 %}{% when 2 %}{% if forloop.first %} and {% endif %}{% else %}{% if forloop.last %}{% else %}{% if forloop.rindex0 == 1 %}, and {% else %}, {% endif %}{% endif %}{% endcase %}{% endfor %}</li>

        </ul>

	</header>

	<section class="words">

		{{ content }}

	</section>

</article>
