---
layout: layout
---

<article class="post">

	<header>

		<h2 class="title">{{ page.title }}</h2>

        <ul class="details">

            <li><time datetime="{{ page.date | date: '%Y-%m-%d' }}" class="date">{{ page.date | date: "%d %B %Y" }}</time></li>

            <li>by <a href="http://twitter.com/{{ page.twitter }}" title="Click to hear more from {{ page.author }}" class="author" rel="author">{{ page.author }}</a></li>

        </ul>

	</header>

	<section class="words">

		{{ content }}

	</section>

</article>
