---
layout: layout
isSingle: true
---

<article class="post">

    <header>

        <h2 class="title">{{ page.title }}</h1>

    </header>

    <section class="makers">

    	<div class="maker">
            <div class="avatar">
    		  <img src="http://sorakasumi.github.com/flask/img/avatar_flo.png" />
            </div>
    		<h3 class="name">Florian Brückner</h3>
    		<a class="twitter" href="http://twitter.com/bloomingbridges">@bloomingbridges</a>
    	</div>

    	<div class="maker">
            <div class="avatar">
    		  <img src="http://sorakasumi.github.com/flask/img/avatar_james.png" />
            </div>
    		<h3 class="name">James King</h3>
    		<a class="twitter" href="http://twitter.com/sorakasumi">@sorakasumi</a>
    	</div>

    	<div class="maker">
            <div class="avatar">
    		  <img src="http://sorakasumi.github.com/flask/img/avatar_saul.png" />
            </div>
    		<h3 class="name">Saul Hardman</h3>
    		<a class="twitter" href="http://twitter.com/saulhardman">@saulhardman</a>
    	</div>

        <div class="maker">
            <div class="avatar">
                <img src="http://sorakasumi.github.com/flask/img/avatar_ben.png" />
            </div>
            <h3 class="name">Ben Ashman</h3>
            <a class="twitter" href="http://twitter.com/benashman">@benashman</a>
        </div>

    </section>

</article>
