@import "normalize";
@import "mixins";

$color: #222;
$font-size: 14px;
$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;
$text-highlight-color: #b3d4fc;

html,
button,
input,
select,
textarea {
    color: $color;
    font-family: helvetica, arial, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $font-size;
}

::-moz-selection {
    background: $text-highlight-color;
    text-shadow: none;
}

::selection {
    background: $text-highlight-color;
    text-shadow: none;
}

/* Author: Saul Hardman (@saulhardman) */

html,
body {

    margin: 0;
    padding: 0;
    background: #EBEBEB;

}

body {

  padding: 50px;

}

a {

  color: #00B7FF;

}

.polaroid {
    display: inline-block;
    padding: 10px;
    margin: 20px;
    background: #FFFFFF;

    .details {
        margin: 15px 0;
    }
}

@import "helpers";
